@charset "UTF-8";

/* Range Styles */
.form--range {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.form--range:focus {
  outline: none;
}

.form--range::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, #1091cc, #1091cc) 100% 50%/100% 8px no-repeat transparent;
}

.form--range::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
          appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 100%;
  border: 0;
  top: 50%;
  margin-top: -12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27), 1px 0 0 -8px #d8d8d8, 2px 0 0 -8px #d8d8d8, 3px 0 0 -8px #d8d8d8, 4px 0 0 -8px #d8d8d8, 5px 0 0 -8px #d8d8d8, 6px 0 0 -8px #d8d8d8, 7px 0 0 -8px #d8d8d8, 8px 0 0 -8px #d8d8d8, 9px 0 0 -8px #d8d8d8, 10px 0 0 -8px #d8d8d8, 11px 0 0 -8px #d8d8d8, 12px 0 0 -8px #d8d8d8, 13px 0 0 -8px #d8d8d8, 14px 0 0 -8px #d8d8d8, 15px 0 0 -8px #d8d8d8, 16px 0 0 -8px #d8d8d8, 17px 0 0 -8px #d8d8d8, 18px 0 0 -8px #d8d8d8, 19px 0 0 -8px #d8d8d8, 20px 0 0 -8px #d8d8d8, 21px 0 0 -8px #d8d8d8, 22px 0 0 -8px #d8d8d8, 23px 0 0 -8px #d8d8d8, 24px 0 0 -8px #d8d8d8, 25px 0 0 -8px #d8d8d8, 26px 0 0 -8px #d8d8d8, 27px 0 0 -8px #d8d8d8, 28px 0 0 -8px #d8d8d8, 29px 0 0 -8px #d8d8d8, 30px 0 0 -8px #d8d8d8, 31px 0 0 -8px #d8d8d8, 32px 0 0 -8px #d8d8d8, 33px 0 0 -8px #d8d8d8, 34px 0 0 -8px #d8d8d8, 35px 0 0 -8px #d8d8d8, 36px 0 0 -8px #d8d8d8, 37px 0 0 -8px #d8d8d8, 38px 0 0 -8px #d8d8d8, 39px 0 0 -8px #d8d8d8, 40px 0 0 -8px #d8d8d8, 41px 0 0 -8px #d8d8d8, 42px 0 0 -8px #d8d8d8, 43px 0 0 -8px #d8d8d8, 44px 0 0 -8px #d8d8d8, 45px 0 0 -8px #d8d8d8, 46px 0 0 -8px #d8d8d8, 47px 0 0 -8px #d8d8d8, 48px 0 0 -8px #d8d8d8, 49px 0 0 -8px #d8d8d8, 50px 0 0 -8px #d8d8d8, 51px 0 0 -8px #d8d8d8, 52px 0 0 -8px #d8d8d8, 53px 0 0 -8px #d8d8d8, 54px 0 0 -8px #d8d8d8, 55px 0 0 -8px #d8d8d8, 56px 0 0 -8px #d8d8d8, 57px 0 0 -8px #d8d8d8, 58px 0 0 -8px #d8d8d8, 59px 0 0 -8px #d8d8d8, 60px 0 0 -8px #d8d8d8, 61px 0 0 -8px #d8d8d8, 62px 0 0 -8px #d8d8d8, 63px 0 0 -8px #d8d8d8, 64px 0 0 -8px #d8d8d8, 65px 0 0 -8px #d8d8d8, 66px 0 0 -8px #d8d8d8, 67px 0 0 -8px #d8d8d8, 68px 0 0 -8px #d8d8d8, 69px 0 0 -8px #d8d8d8, 70px 0 0 -8px #d8d8d8, 71px 0 0 -8px #d8d8d8, 72px 0 0 -8px #d8d8d8, 73px 0 0 -8px #d8d8d8, 74px 0 0 -8px #d8d8d8, 75px 0 0 -8px #d8d8d8, 76px 0 0 -8px #d8d8d8, 77px 0 0 -8px #d8d8d8, 78px 0 0 -8px #d8d8d8, 79px 0 0 -8px #d8d8d8, 80px 0 0 -8px #d8d8d8, 81px 0 0 -8px #d8d8d8, 82px 0 0 -8px #d8d8d8, 83px 0 0 -8px #d8d8d8, 84px 0 0 -8px #d8d8d8, 85px 0 0 -8px #d8d8d8, 86px 0 0 -8px #d8d8d8, 87px 0 0 -8px #d8d8d8, 88px 0 0 -8px #d8d8d8, 89px 0 0 -8px #d8d8d8, 90px 0 0 -8px #d8d8d8, 91px 0 0 -8px #d8d8d8, 92px 0 0 -8px #d8d8d8, 93px 0 0 -8px #d8d8d8, 94px 0 0 -8px #d8d8d8, 95px 0 0 -8px #d8d8d8, 96px 0 0 -8px #d8d8d8, 97px 0 0 -8px #d8d8d8, 98px 0 0 -8px #d8d8d8, 99px 0 0 -8px #d8d8d8, 100px 0 0 -8px #d8d8d8, 101px 0 0 -8px #d8d8d8, 102px 0 0 -8px #d8d8d8, 103px 0 0 -8px #d8d8d8, 104px 0 0 -8px #d8d8d8, 105px 0 0 -8px #d8d8d8, 106px 0 0 -8px #d8d8d8, 107px 0 0 -8px #d8d8d8, 108px 0 0 -8px #d8d8d8, 109px 0 0 -8px #d8d8d8, 110px 0 0 -8px #d8d8d8, 111px 0 0 -8px #d8d8d8, 112px 0 0 -8px #d8d8d8, 113px 0 0 -8px #d8d8d8, 114px 0 0 -8px #d8d8d8, 115px 0 0 -8px #d8d8d8, 116px 0 0 -8px #d8d8d8, 117px 0 0 -8px #d8d8d8, 118px 0 0 -8px #d8d8d8, 119px 0 0 -8px #d8d8d8, 120px 0 0 -8px #d8d8d8, 121px 0 0 -8px #d8d8d8, 122px 0 0 -8px #d8d8d8, 123px 0 0 -8px #d8d8d8, 124px 0 0 -8px #d8d8d8, 125px 0 0 -8px #d8d8d8, 126px 0 0 -8px #d8d8d8, 127px 0 0 -8px #d8d8d8, 128px 0 0 -8px #d8d8d8, 129px 0 0 -8px #d8d8d8, 130px 0 0 -8px #d8d8d8, 131px 0 0 -8px #d8d8d8, 132px 0 0 -8px #d8d8d8, 133px 0 0 -8px #d8d8d8, 134px 0 0 -8px #d8d8d8, 135px 0 0 -8px #d8d8d8, 136px 0 0 -8px #d8d8d8, 137px 0 0 -8px #d8d8d8, 138px 0 0 -8px #d8d8d8, 139px 0 0 -8px #d8d8d8, 140px 0 0 -8px #d8d8d8, 141px 0 0 -8px #d8d8d8, 142px 0 0 -8px #d8d8d8, 143px 0 0 -8px #d8d8d8, 144px 0 0 -8px #d8d8d8, 145px 0 0 -8px #d8d8d8, 146px 0 0 -8px #d8d8d8, 147px 0 0 -8px #d8d8d8, 148px 0 0 -8px #d8d8d8, 149px 0 0 -8px #d8d8d8, 150px 0 0 -8px #d8d8d8, 151px 0 0 -8px #d8d8d8, 152px 0 0 -8px #d8d8d8, 153px 0 0 -8px #d8d8d8, 154px 0 0 -8px #d8d8d8, 155px 0 0 -8px #d8d8d8, 156px 0 0 -8px #d8d8d8, 157px 0 0 -8px #d8d8d8, 158px 0 0 -8px #d8d8d8, 159px 0 0 -8px #d8d8d8, 160px 0 0 -8px #d8d8d8, 161px 0 0 -8px #d8d8d8, 162px 0 0 -8px #d8d8d8, 163px 0 0 -8px #d8d8d8, 164px 0 0 -8px #d8d8d8, 165px 0 0 -8px #d8d8d8, 166px 0 0 -8px #d8d8d8, 167px 0 0 -8px #d8d8d8, 168px 0 0 -8px #d8d8d8, 169px 0 0 -8px #d8d8d8, 170px 0 0 -8px #d8d8d8, 171px 0 0 -8px #d8d8d8, 172px 0 0 -8px #d8d8d8, 173px 0 0 -8px #d8d8d8, 174px 0 0 -8px #d8d8d8, 175px 0 0 -8px #d8d8d8, 176px 0 0 -8px #d8d8d8, 177px 0 0 -8px #d8d8d8, 178px 0 0 -8px #d8d8d8, 179px 0 0 -8px #d8d8d8, 180px 0 0 -8px #d8d8d8, 181px 0 0 -8px #d8d8d8, 182px 0 0 -8px #d8d8d8, 183px 0 0 -8px #d8d8d8, 184px 0 0 -8px #d8d8d8, 185px 0 0 -8px #d8d8d8, 186px 0 0 -8px #d8d8d8, 187px 0 0 -8px #d8d8d8, 188px 0 0 -8px #d8d8d8, 189px 0 0 -8px #d8d8d8, 190px 0 0 -8px #d8d8d8, 191px 0 0 -8px #d8d8d8, 192px 0 0 -8px #d8d8d8, 193px 0 0 -8px #d8d8d8, 194px 0 0 -8px #d8d8d8, 195px 0 0 -8px #d8d8d8, 196px 0 0 -8px #d8d8d8, 197px 0 0 -8px #d8d8d8, 198px 0 0 -8px #d8d8d8, 199px 0 0 -8px #d8d8d8, 200px 0 0 -8px #d8d8d8, 201px 0 0 -8px #d8d8d8, 202px 0 0 -8px #d8d8d8, 203px 0 0 -8px #d8d8d8, 204px 0 0 -8px #d8d8d8, 205px 0 0 -8px #d8d8d8, 206px 0 0 -8px #d8d8d8, 207px 0 0 -8px #d8d8d8, 208px 0 0 -8px #d8d8d8, 209px 0 0 -8px #d8d8d8, 210px 0 0 -8px #d8d8d8, 211px 0 0 -8px #d8d8d8, 212px 0 0 -8px #d8d8d8, 213px 0 0 -8px #d8d8d8, 214px 0 0 -8px #d8d8d8, 215px 0 0 -8px #d8d8d8, 216px 0 0 -8px #d8d8d8, 217px 0 0 -8px #d8d8d8, 218px 0 0 -8px #d8d8d8, 219px 0 0 -8px #d8d8d8, 220px 0 0 -8px #d8d8d8, 221px 0 0 -8px #d8d8d8, 222px 0 0 -8px #d8d8d8, 223px 0 0 -8px #d8d8d8, 224px 0 0 -8px #d8d8d8, 225px 0 0 -8px #d8d8d8, 226px 0 0 -8px #d8d8d8, 227px 0 0 -8px #d8d8d8, 228px 0 0 -8px #d8d8d8, 229px 0 0 -8px #d8d8d8, 230px 0 0 -8px #d8d8d8, 231px 0 0 -8px #d8d8d8, 232px 0 0 -8px #d8d8d8, 233px 0 0 -8px #d8d8d8, 234px 0 0 -8px #d8d8d8, 235px 0 0 -8px #d8d8d8, 236px 0 0 -8px #d8d8d8, 237px 0 0 -8px #d8d8d8, 238px 0 0 -8px #d8d8d8, 239px 0 0 -8px #d8d8d8, 240px 0 0 -8px #d8d8d8, 241px 0 0 -8px #d8d8d8, 242px 0 0 -8px #d8d8d8, 243px 0 0 -8px #d8d8d8, 244px 0 0 -8px #d8d8d8, 245px 0 0 -8px #d8d8d8, 246px 0 0 -8px #d8d8d8, 247px 0 0 -8px #d8d8d8, 248px 0 0 -8px #d8d8d8, 249px 0 0 -8px #d8d8d8, 250px 0 0 -8px #d8d8d8, 251px 0 0 -8px #d8d8d8, 252px 0 0 -8px #d8d8d8, 253px 0 0 -8px #d8d8d8, 254px 0 0 -8px #d8d8d8, 255px 0 0 -8px #d8d8d8, 256px 0 0 -8px #d8d8d8, 257px 0 0 -8px #d8d8d8, 258px 0 0 -8px #d8d8d8, 259px 0 0 -8px #d8d8d8, 260px 0 0 -8px #d8d8d8, 261px 0 0 -8px #d8d8d8, 262px 0 0 -8px #d8d8d8, 263px 0 0 -8px #d8d8d8, 264px 0 0 -8px #d8d8d8, 265px 0 0 -8px #d8d8d8, 266px 0 0 -8px #d8d8d8, 267px 0 0 -8px #d8d8d8, 268px 0 0 -8px #d8d8d8, 269px 0 0 -8px #d8d8d8, 270px 0 0 -8px #d8d8d8, 271px 0 0 -8px #d8d8d8, 272px 0 0 -8px #d8d8d8, 273px 0 0 -8px #d8d8d8, 274px 0 0 -8px #d8d8d8, 275px 0 0 -8px #d8d8d8, 276px 0 0 -8px #d8d8d8, 277px 0 0 -8px #d8d8d8, 278px 0 0 -8px #d8d8d8, 279px 0 0 -8px #d8d8d8, 280px 0 0 -8px #d8d8d8, 281px 0 0 -8px #d8d8d8, 282px 0 0 -8px #d8d8d8, 283px 0 0 -8px #d8d8d8, 284px 0 0 -8px #d8d8d8, 285px 0 0 -8px #d8d8d8, 286px 0 0 -8px #d8d8d8, 287px 0 0 -8px #d8d8d8, 288px 0 0 -8px #d8d8d8, 289px 0 0 -8px #d8d8d8, 290px 0 0 -8px #d8d8d8, 291px 0 0 -8px #d8d8d8, 292px 0 0 -8px #d8d8d8, 293px 0 0 -8px #d8d8d8, 294px 0 0 -8px #d8d8d8, 295px 0 0 -8px #d8d8d8, 296px 0 0 -8px #d8d8d8, 297px 0 0 -8px #d8d8d8, 298px 0 0 -8px #d8d8d8, 299px 0 0 -8px #d8d8d8, 300px 0 0 -8px #d8d8d8, 301px 0 0 -8px #d8d8d8, 302px 0 0 -8px #d8d8d8, 303px 0 0 -8px #d8d8d8, 304px 0 0 -8px #d8d8d8, 305px 0 0 -8px #d8d8d8, 306px 0 0 -8px #d8d8d8, 307px 0 0 -8px #d8d8d8, 308px 0 0 -8px #d8d8d8, 309px 0 0 -8px #d8d8d8, 310px 0 0 -8px #d8d8d8, 311px 0 0 -8px #d8d8d8, 312px 0 0 -8px #d8d8d8, 313px 0 0 -8px #d8d8d8, 314px 0 0 -8px #d8d8d8, 315px 0 0 -8px #d8d8d8, 316px 0 0 -8px #d8d8d8, 317px 0 0 -8px #d8d8d8, 318px 0 0 -8px #d8d8d8, 319px 0 0 -8px #d8d8d8, 320px 0 0 -8px #d8d8d8, 321px 0 0 -8px #d8d8d8, 322px 0 0 -8px #d8d8d8, 323px 0 0 -8px #d8d8d8, 324px 0 0 -8px #d8d8d8, 325px 0 0 -8px #d8d8d8, 326px 0 0 -8px #d8d8d8, 327px 0 0 -8px #d8d8d8, 328px 0 0 -8px #d8d8d8, 329px 0 0 -8px #d8d8d8, 330px 0 0 -8px #d8d8d8, 331px 0 0 -8px #d8d8d8, 332px 0 0 -8px #d8d8d8, 333px 0 0 -8px #d8d8d8, 334px 0 0 -8px #d8d8d8, 335px 0 0 -8px #d8d8d8, 336px 0 0 -8px #d8d8d8, 337px 0 0 -8px #d8d8d8, 338px 0 0 -8px #d8d8d8, 339px 0 0 -8px #d8d8d8, 340px 0 0 -8px #d8d8d8, 341px 0 0 -8px #d8d8d8, 342px 0 0 -8px #d8d8d8, 343px 0 0 -8px #d8d8d8, 344px 0 0 -8px #d8d8d8, 345px 0 0 -8px #d8d8d8, 346px 0 0 -8px #d8d8d8, 347px 0 0 -8px #d8d8d8, 348px 0 0 -8px #d8d8d8, 349px 0 0 -8px #d8d8d8, 350px 0 0 -8px #d8d8d8, 351px 0 0 -8px #d8d8d8, 352px 0 0 -8px #d8d8d8, 353px 0 0 -8px #d8d8d8, 354px 0 0 -8px #d8d8d8, 355px 0 0 -8px #d8d8d8, 356px 0 0 -8px #d8d8d8, 357px 0 0 -8px #d8d8d8, 358px 0 0 -8px #d8d8d8, 359px 0 0 -8px #d8d8d8, 360px 0 0 -8px #d8d8d8, 361px 0 0 -8px #d8d8d8, 362px 0 0 -8px #d8d8d8, 363px 0 0 -8px #d8d8d8, 364px 0 0 -8px #d8d8d8, 365px 0 0 -8px #d8d8d8, 366px 0 0 -8px #d8d8d8, 367px 0 0 -8px #d8d8d8, 368px 0 0 -8px #d8d8d8, 369px 0 0 -8px #d8d8d8, 370px 0 0 -8px #d8d8d8, 371px 0 0 -8px #d8d8d8, 372px 0 0 -8px #d8d8d8, 373px 0 0 -8px #d8d8d8, 374px 0 0 -8px #d8d8d8, 375px 0 0 -8px #d8d8d8, 376px 0 0 -8px #d8d8d8, 377px 0 0 -8px #d8d8d8, 378px 0 0 -8px #d8d8d8, 379px 0 0 -8px #d8d8d8, 380px 0 0 -8px #d8d8d8, 381px 0 0 -8px #d8d8d8, 382px 0 0 -8px #d8d8d8, 383px 0 0 -8px #d8d8d8, 384px 0 0 -8px #d8d8d8, 385px 0 0 -8px #d8d8d8, 386px 0 0 -8px #d8d8d8, 387px 0 0 -8px #d8d8d8, 388px 0 0 -8px #d8d8d8, 389px 0 0 -8px #d8d8d8, 390px 0 0 -8px #d8d8d8, 391px 0 0 -8px #d8d8d8, 392px 0 0 -8px #d8d8d8, 393px 0 0 -8px #d8d8d8, 394px 0 0 -8px #d8d8d8, 395px 0 0 -8px #d8d8d8, 396px 0 0 -8px #d8d8d8, 397px 0 0 -8px #d8d8d8, 398px 0 0 -8px #d8d8d8, 399px 0 0 -8px #d8d8d8, 400px 0 0 -8px #d8d8d8, 401px 0 0 -8px #d8d8d8, 402px 0 0 -8px #d8d8d8, 403px 0 0 -8px #d8d8d8, 404px 0 0 -8px #d8d8d8, 405px 0 0 -8px #d8d8d8, 406px 0 0 -8px #d8d8d8, 407px 0 0 -8px #d8d8d8, 408px 0 0 -8px #d8d8d8, 409px 0 0 -8px #d8d8d8, 410px 0 0 -8px #d8d8d8, 411px 0 0 -8px #d8d8d8, 412px 0 0 -8px #d8d8d8, 413px 0 0 -8px #d8d8d8, 414px 0 0 -8px #d8d8d8, 415px 0 0 -8px #d8d8d8, 416px 0 0 -8px #d8d8d8, 417px 0 0 -8px #d8d8d8, 418px 0 0 -8px #d8d8d8, 419px 0 0 -8px #d8d8d8, 420px 0 0 -8px #d8d8d8, 421px 0 0 -8px #d8d8d8, 422px 0 0 -8px #d8d8d8, 423px 0 0 -8px #d8d8d8, 424px 0 0 -8px #d8d8d8, 425px 0 0 -8px #d8d8d8, 426px 0 0 -8px #d8d8d8, 427px 0 0 -8px #d8d8d8, 428px 0 0 -8px #d8d8d8, 429px 0 0 -8px #d8d8d8, 430px 0 0 -8px #d8d8d8, 431px 0 0 -8px #d8d8d8, 432px 0 0 -8px #d8d8d8, 433px 0 0 -8px #d8d8d8, 434px 0 0 -8px #d8d8d8, 435px 0 0 -8px #d8d8d8, 436px 0 0 -8px #d8d8d8, 437px 0 0 -8px #d8d8d8, 438px 0 0 -8px #d8d8d8, 439px 0 0 -8px #d8d8d8, 440px 0 0 -8px #d8d8d8, 441px 0 0 -8px #d8d8d8, 442px 0 0 -8px #d8d8d8, 443px 0 0 -8px #d8d8d8, 444px 0 0 -8px #d8d8d8, 445px 0 0 -8px #d8d8d8, 446px 0 0 -8px #d8d8d8, 447px 0 0 -8px #d8d8d8, 448px 0 0 -8px #d8d8d8, 449px 0 0 -8px #d8d8d8, 450px 0 0 -8px #d8d8d8, 451px 0 0 -8px #d8d8d8, 452px 0 0 -8px #d8d8d8, 453px 0 0 -8px #d8d8d8, 454px 0 0 -8px #d8d8d8, 455px 0 0 -8px #d8d8d8, 456px 0 0 -8px #d8d8d8, 457px 0 0 -8px #d8d8d8, 458px 0 0 -8px #d8d8d8, 459px 0 0 -8px #d8d8d8, 460px 0 0 -8px #d8d8d8, 461px 0 0 -8px #d8d8d8, 462px 0 0 -8px #d8d8d8, 463px 0 0 -8px #d8d8d8, 464px 0 0 -8px #d8d8d8, 465px 0 0 -8px #d8d8d8, 466px 0 0 -8px #d8d8d8, 467px 0 0 -8px #d8d8d8, 468px 0 0 -8px #d8d8d8, 469px 0 0 -8px #d8d8d8, 470px 0 0 -8px #d8d8d8, 471px 0 0 -8px #d8d8d8, 472px 0 0 -8px #d8d8d8, 473px 0 0 -8px #d8d8d8, 474px 0 0 -8px #d8d8d8, 475px 0 0 -8px #d8d8d8, 476px 0 0 -8px #d8d8d8, 477px 0 0 -8px #d8d8d8, 478px 0 0 -8px #d8d8d8, 479px 0 0 -8px #d8d8d8, 480px 0 0 -8px #d8d8d8, 481px 0 0 -8px #d8d8d8, 482px 0 0 -8px #d8d8d8, 483px 0 0 -8px #d8d8d8, 484px 0 0 -8px #d8d8d8, 485px 0 0 -8px #d8d8d8, 486px 0 0 -8px #d8d8d8, 487px 0 0 -8px #d8d8d8, 488px 0 0 -8px #d8d8d8, 489px 0 0 -8px #d8d8d8, 490px 0 0 -8px #d8d8d8, 491px 0 0 -8px #d8d8d8, 492px 0 0 -8px #d8d8d8, 493px 0 0 -8px #d8d8d8, 494px 0 0 -8px #d8d8d8, 495px 0 0 -8px #d8d8d8, 496px 0 0 -8px #d8d8d8, 497px 0 0 -8px #d8d8d8, 498px 0 0 -8px #d8d8d8, 499px 0 0 -8px #d8d8d8, 500px 0 0 -8px #d8d8d8, 501px 0 0 -8px #d8d8d8, 502px 0 0 -8px #d8d8d8, 503px 0 0 -8px #d8d8d8, 504px 0 0 -8px #d8d8d8, 505px 0 0 -8px #d8d8d8, 506px 0 0 -8px #d8d8d8, 507px 0 0 -8px #d8d8d8, 508px 0 0 -8px #d8d8d8, 509px 0 0 -8px #d8d8d8, 510px 0 0 -8px #d8d8d8, 511px 0 0 -8px #d8d8d8, 512px 0 0 -8px #d8d8d8, 513px 0 0 -8px #d8d8d8, 514px 0 0 -8px #d8d8d8, 515px 0 0 -8px #d8d8d8, 516px 0 0 -8px #d8d8d8, 517px 0 0 -8px #d8d8d8, 518px 0 0 -8px #d8d8d8, 519px 0 0 -8px #d8d8d8, 520px 0 0 -8px #d8d8d8, 521px 0 0 -8px #d8d8d8, 522px 0 0 -8px #d8d8d8, 523px 0 0 -8px #d8d8d8, 524px 0 0 -8px #d8d8d8, 525px 0 0 -8px #d8d8d8, 526px 0 0 -8px #d8d8d8, 527px 0 0 -8px #d8d8d8, 528px 0 0 -8px #d8d8d8, 529px 0 0 -8px #d8d8d8, 530px 0 0 -8px #d8d8d8, 531px 0 0 -8px #d8d8d8, 532px 0 0 -8px #d8d8d8, 533px 0 0 -8px #d8d8d8, 534px 0 0 -8px #d8d8d8, 535px 0 0 -8px #d8d8d8, 536px 0 0 -8px #d8d8d8, 537px 0 0 -8px #d8d8d8, 538px 0 0 -8px #d8d8d8, 539px 0 0 -8px #d8d8d8, 540px 0 0 -8px #d8d8d8, 541px 0 0 -8px #d8d8d8, 542px 0 0 -8px #d8d8d8, 543px 0 0 -8px #d8d8d8, 544px 0 0 -8px #d8d8d8, 545px 0 0 -8px #d8d8d8, 546px 0 0 -8px #d8d8d8, 547px 0 0 -8px #d8d8d8, 548px 0 0 -8px #d8d8d8, 549px 0 0 -8px #d8d8d8, 550px 0 0 -8px #d8d8d8, 551px 0 0 -8px #d8d8d8, 552px 0 0 -8px #d8d8d8, 553px 0 0 -8px #d8d8d8, 554px 0 0 -8px #d8d8d8, 555px 0 0 -8px #d8d8d8, 556px 0 0 -8px #d8d8d8, 557px 0 0 -8px #d8d8d8, 558px 0 0 -8px #d8d8d8, 559px 0 0 -8px #d8d8d8, 560px 0 0 -8px #d8d8d8, 561px 0 0 -8px #d8d8d8, 562px 0 0 -8px #d8d8d8, 563px 0 0 -8px #d8d8d8, 564px 0 0 -8px #d8d8d8, 565px 0 0 -8px #d8d8d8, 566px 0 0 -8px #d8d8d8, 567px 0 0 -8px #d8d8d8, 568px 0 0 -8px #d8d8d8, 569px 0 0 -8px #d8d8d8, 570px 0 0 -8px #d8d8d8, 571px 0 0 -8px #d8d8d8, 572px 0 0 -8px #d8d8d8, 573px 0 0 -8px #d8d8d8, 574px 0 0 -8px #d8d8d8, 575px 0 0 -8px #d8d8d8, 576px 0 0 -8px #d8d8d8, 577px 0 0 -8px #d8d8d8, 578px 0 0 -8px #d8d8d8, 579px 0 0 -8px #d8d8d8, 580px 0 0 -8px #d8d8d8, 581px 0 0 -8px #d8d8d8, 582px 0 0 -8px #d8d8d8, 583px 0 0 -8px #d8d8d8, 584px 0 0 -8px #d8d8d8, 585px 0 0 -8px #d8d8d8, 586px 0 0 -8px #d8d8d8, 587px 0 0 -8px #d8d8d8, 588px 0 0 -8px #d8d8d8, 589px 0 0 -8px #d8d8d8, 590px 0 0 -8px #d8d8d8, 591px 0 0 -8px #d8d8d8, 592px 0 0 -8px #d8d8d8, 593px 0 0 -8px #d8d8d8, 594px 0 0 -8px #d8d8d8, 595px 0 0 -8px #d8d8d8, 596px 0 0 -8px #d8d8d8, 597px 0 0 -8px #d8d8d8, 598px 0 0 -8px #d8d8d8, 599px 0 0 -8px #d8d8d8, 600px 0 0 -8px #d8d8d8, 601px 0 0 -8px #d8d8d8, 602px 0 0 -8px #d8d8d8, 603px 0 0 -8px #d8d8d8, 604px 0 0 -8px #d8d8d8, 605px 0 0 -8px #d8d8d8, 606px 0 0 -8px #d8d8d8, 607px 0 0 -8px #d8d8d8, 608px 0 0 -8px #d8d8d8, 609px 0 0 -8px #d8d8d8, 610px 0 0 -8px #d8d8d8, 611px 0 0 -8px #d8d8d8, 612px 0 0 -8px #d8d8d8, 613px 0 0 -8px #d8d8d8, 614px 0 0 -8px #d8d8d8, 615px 0 0 -8px #d8d8d8, 616px 0 0 -8px #d8d8d8, 617px 0 0 -8px #d8d8d8, 618px 0 0 -8px #d8d8d8, 619px 0 0 -8px #d8d8d8, 620px 0 0 -8px #d8d8d8, 621px 0 0 -8px #d8d8d8, 622px 0 0 -8px #d8d8d8, 623px 0 0 -8px #d8d8d8, 624px 0 0 -8px #d8d8d8, 625px 0 0 -8px #d8d8d8, 626px 0 0 -8px #d8d8d8, 627px 0 0 -8px #d8d8d8, 628px 0 0 -8px #d8d8d8, 629px 0 0 -8px #d8d8d8, 630px 0 0 -8px #d8d8d8, 631px 0 0 -8px #d8d8d8, 632px 0 0 -8px #d8d8d8, 633px 0 0 -8px #d8d8d8, 634px 0 0 -8px #d8d8d8, 635px 0 0 -8px #d8d8d8, 636px 0 0 -8px #d8d8d8, 637px 0 0 -8px #d8d8d8, 638px 0 0 -8px #d8d8d8, 639px 0 0 -8px #d8d8d8, 640px 0 0 -8px #d8d8d8, 641px 0 0 -8px #d8d8d8, 642px 0 0 -8px #d8d8d8, 643px 0 0 -8px #d8d8d8, 644px 0 0 -8px #d8d8d8, 645px 0 0 -8px #d8d8d8, 646px 0 0 -8px #d8d8d8, 647px 0 0 -8px #d8d8d8, 648px 0 0 -8px #d8d8d8, 649px 0 0 -8px #d8d8d8, 650px 0 0 -8px #d8d8d8, 651px 0 0 -8px #d8d8d8, 652px 0 0 -8px #d8d8d8, 653px 0 0 -8px #d8d8d8, 654px 0 0 -8px #d8d8d8, 655px 0 0 -8px #d8d8d8, 656px 0 0 -8px #d8d8d8, 657px 0 0 -8px #d8d8d8, 658px 0 0 -8px #d8d8d8, 659px 0 0 -8px #d8d8d8, 660px 0 0 -8px #d8d8d8, 661px 0 0 -8px #d8d8d8, 662px 0 0 -8px #d8d8d8, 663px 0 0 -8px #d8d8d8, 664px 0 0 -8px #d8d8d8, 665px 0 0 -8px #d8d8d8, 666px 0 0 -8px #d8d8d8, 667px 0 0 -8px #d8d8d8, 668px 0 0 -8px #d8d8d8, 669px 0 0 -8px #d8d8d8, 670px 0 0 -8px #d8d8d8, 671px 0 0 -8px #d8d8d8, 672px 0 0 -8px #d8d8d8, 673px 0 0 -8px #d8d8d8, 674px 0 0 -8px #d8d8d8, 675px 0 0 -8px #d8d8d8, 676px 0 0 -8px #d8d8d8, 677px 0 0 -8px #d8d8d8, 678px 0 0 -8px #d8d8d8, 679px 0 0 -8px #d8d8d8, 680px 0 0 -8px #d8d8d8, 681px 0 0 -8px #d8d8d8, 682px 0 0 -8px #d8d8d8, 683px 0 0 -8px #d8d8d8, 684px 0 0 -8px #d8d8d8, 685px 0 0 -8px #d8d8d8, 686px 0 0 -8px #d8d8d8, 687px 0 0 -8px #d8d8d8, 688px 0 0 -8px #d8d8d8, 689px 0 0 -8px #d8d8d8, 690px 0 0 -8px #d8d8d8, 691px 0 0 -8px #d8d8d8, 692px 0 0 -8px #d8d8d8, 693px 0 0 -8px #d8d8d8, 694px 0 0 -8px #d8d8d8, 695px 0 0 -8px #d8d8d8, 696px 0 0 -8px #d8d8d8, 697px 0 0 -8px #d8d8d8, 698px 0 0 -8px #d8d8d8, 699px 0 0 -8px #d8d8d8, 700px 0 0 -8px #d8d8d8, 701px 0 0 -8px #d8d8d8, 702px 0 0 -8px #d8d8d8, 703px 0 0 -8px #d8d8d8, 704px 0 0 -8px #d8d8d8, 705px 0 0 -8px #d8d8d8, 706px 0 0 -8px #d8d8d8, 707px 0 0 -8px #d8d8d8, 708px 0 0 -8px #d8d8d8, 709px 0 0 -8px #d8d8d8, 710px 0 0 -8px #d8d8d8, 711px 0 0 -8px #d8d8d8, 712px 0 0 -8px #d8d8d8, 713px 0 0 -8px #d8d8d8, 714px 0 0 -8px #d8d8d8, 715px 0 0 -8px #d8d8d8, 716px 0 0 -8px #d8d8d8, 717px 0 0 -8px #d8d8d8, 718px 0 0 -8px #d8d8d8, 719px 0 0 -8px #d8d8d8, 720px 0 0 -8px #d8d8d8, 721px 0 0 -8px #d8d8d8, 722px 0 0 -8px #d8d8d8, 723px 0 0 -8px #d8d8d8, 724px 0 0 -8px #d8d8d8, 725px 0 0 -8px #d8d8d8, 726px 0 0 -8px #d8d8d8, 727px 0 0 -8px #d8d8d8, 728px 0 0 -8px #d8d8d8, 729px 0 0 -8px #d8d8d8, 730px 0 0 -8px #d8d8d8, 731px 0 0 -8px #d8d8d8, 732px 0 0 -8px #d8d8d8, 733px 0 0 -8px #d8d8d8, 734px 0 0 -8px #d8d8d8, 735px 0 0 -8px #d8d8d8, 736px 0 0 -8px #d8d8d8, 737px 0 0 -8px #d8d8d8, 738px 0 0 -8px #d8d8d8, 739px 0 0 -8px #d8d8d8, 740px 0 0 -8px #d8d8d8, 741px 0 0 -8px #d8d8d8, 742px 0 0 -8px #d8d8d8, 743px 0 0 -8px #d8d8d8, 744px 0 0 -8px #d8d8d8, 745px 0 0 -8px #d8d8d8, 746px 0 0 -8px #d8d8d8, 747px 0 0 -8px #d8d8d8, 748px 0 0 -8px #d8d8d8, 749px 0 0 -8px #d8d8d8, 750px 0 0 -8px #d8d8d8, 751px 0 0 -8px #d8d8d8, 752px 0 0 -8px #d8d8d8, 753px 0 0 -8px #d8d8d8, 754px 0 0 -8px #d8d8d8, 755px 0 0 -8px #d8d8d8, 756px 0 0 -8px #d8d8d8, 757px 0 0 -8px #d8d8d8, 758px 0 0 -8px #d8d8d8, 759px 0 0 -8px #d8d8d8, 760px 0 0 -8px #d8d8d8, 761px 0 0 -8px #d8d8d8, 762px 0 0 -8px #d8d8d8, 763px 0 0 -8px #d8d8d8, 764px 0 0 -8px #d8d8d8, 765px 0 0 -8px #d8d8d8, 766px 0 0 -8px #d8d8d8, 767px 0 0 -8px #d8d8d8, 768px 0 0 -8px #d8d8d8, 769px 0 0 -8px #d8d8d8, 770px 0 0 -8px #d8d8d8, 771px 0 0 -8px #d8d8d8, 772px 0 0 -8px #d8d8d8, 773px 0 0 -8px #d8d8d8, 774px 0 0 -8px #d8d8d8, 775px 0 0 -8px #d8d8d8, 776px 0 0 -8px #d8d8d8, 777px 0 0 -8px #d8d8d8, 778px 0 0 -8px #d8d8d8, 779px 0 0 -8px #d8d8d8, 780px 0 0 -8px #d8d8d8, 781px 0 0 -8px #d8d8d8, 782px 0 0 -8px #d8d8d8, 783px 0 0 -8px #d8d8d8, 784px 0 0 -8px #d8d8d8, 785px 0 0 -8px #d8d8d8, 786px 0 0 -8px #d8d8d8, 787px 0 0 -8px #d8d8d8, 788px 0 0 -8px #d8d8d8, 789px 0 0 -8px #d8d8d8, 790px 0 0 -8px #d8d8d8, 791px 0 0 -8px #d8d8d8, 792px 0 0 -8px #d8d8d8, 793px 0 0 -8px #d8d8d8, 794px 0 0 -8px #d8d8d8, 795px 0 0 -8px #d8d8d8, 796px 0 0 -8px #d8d8d8, 797px 0 0 -8px #d8d8d8, 798px 0 0 -8px #d8d8d8, 799px 0 0 -8px #d8d8d8, 800px 0 0 -8px #d8d8d8, 801px 0 0 -8px #d8d8d8, 802px 0 0 -8px #d8d8d8, 803px 0 0 -8px #d8d8d8, 804px 0 0 -8px #d8d8d8, 805px 0 0 -8px #d8d8d8, 806px 0 0 -8px #d8d8d8, 807px 0 0 -8px #d8d8d8, 808px 0 0 -8px #d8d8d8, 809px 0 0 -8px #d8d8d8, 810px 0 0 -8px #d8d8d8, 811px 0 0 -8px #d8d8d8, 812px 0 0 -8px #d8d8d8, 813px 0 0 -8px #d8d8d8, 814px 0 0 -8px #d8d8d8, 815px 0 0 -8px #d8d8d8, 816px 0 0 -8px #d8d8d8, 817px 0 0 -8px #d8d8d8, 818px 0 0 -8px #d8d8d8, 819px 0 0 -8px #d8d8d8, 820px 0 0 -8px #d8d8d8, 821px 0 0 -8px #d8d8d8, 822px 0 0 -8px #d8d8d8, 823px 0 0 -8px #d8d8d8, 824px 0 0 -8px #d8d8d8, 825px 0 0 -8px #d8d8d8, 826px 0 0 -8px #d8d8d8, 827px 0 0 -8px #d8d8d8, 828px 0 0 -8px #d8d8d8, 829px 0 0 -8px #d8d8d8, 830px 0 0 -8px #d8d8d8, 831px 0 0 -8px #d8d8d8, 832px 0 0 -8px #d8d8d8, 833px 0 0 -8px #d8d8d8, 834px 0 0 -8px #d8d8d8, 835px 0 0 -8px #d8d8d8, 836px 0 0 -8px #d8d8d8, 837px 0 0 -8px #d8d8d8, 838px 0 0 -8px #d8d8d8, 839px 0 0 -8px #d8d8d8, 840px 0 0 -8px #d8d8d8, 841px 0 0 -8px #d8d8d8, 842px 0 0 -8px #d8d8d8, 843px 0 0 -8px #d8d8d8, 844px 0 0 -8px #d8d8d8, 845px 0 0 -8px #d8d8d8, 846px 0 0 -8px #d8d8d8, 847px 0 0 -8px #d8d8d8, 848px 0 0 -8px #d8d8d8, 849px 0 0 -8px #d8d8d8, 850px 0 0 -8px #d8d8d8, 851px 0 0 -8px #d8d8d8, 852px 0 0 -8px #d8d8d8, 853px 0 0 -8px #d8d8d8, 854px 0 0 -8px #d8d8d8, 855px 0 0 -8px #d8d8d8, 856px 0 0 -8px #d8d8d8, 857px 0 0 -8px #d8d8d8, 858px 0 0 -8px #d8d8d8, 859px 0 0 -8px #d8d8d8, 860px 0 0 -8px #d8d8d8, 861px 0 0 -8px #d8d8d8, 862px 0 0 -8px #d8d8d8, 863px 0 0 -8px #d8d8d8, 864px 0 0 -8px #d8d8d8, 865px 0 0 -8px #d8d8d8, 866px 0 0 -8px #d8d8d8, 867px 0 0 -8px #d8d8d8, 868px 0 0 -8px #d8d8d8, 869px 0 0 -8px #d8d8d8, 870px 0 0 -8px #d8d8d8, 871px 0 0 -8px #d8d8d8, 872px 0 0 -8px #d8d8d8, 873px 0 0 -8px #d8d8d8, 874px 0 0 -8px #d8d8d8, 875px 0 0 -8px #d8d8d8, 876px 0 0 -8px #d8d8d8, 877px 0 0 -8px #d8d8d8, 878px 0 0 -8px #d8d8d8, 879px 0 0 -8px #d8d8d8, 880px 0 0 -8px #d8d8d8, 881px 0 0 -8px #d8d8d8, 882px 0 0 -8px #d8d8d8, 883px 0 0 -8px #d8d8d8, 884px 0 0 -8px #d8d8d8, 885px 0 0 -8px #d8d8d8, 886px 0 0 -8px #d8d8d8, 887px 0 0 -8px #d8d8d8, 888px 0 0 -8px #d8d8d8, 889px 0 0 -8px #d8d8d8, 890px 0 0 -8px #d8d8d8, 891px 0 0 -8px #d8d8d8, 892px 0 0 -8px #d8d8d8, 893px 0 0 -8px #d8d8d8, 894px 0 0 -8px #d8d8d8, 895px 0 0 -8px #d8d8d8, 896px 0 0 -8px #d8d8d8, 897px 0 0 -8px #d8d8d8, 898px 0 0 -8px #d8d8d8, 899px 0 0 -8px #d8d8d8, 900px 0 0 -8px #d8d8d8, 901px 0 0 -8px #d8d8d8, 902px 0 0 -8px #d8d8d8, 903px 0 0 -8px #d8d8d8, 904px 0 0 -8px #d8d8d8, 905px 0 0 -8px #d8d8d8, 906px 0 0 -8px #d8d8d8, 907px 0 0 -8px #d8d8d8, 908px 0 0 -8px #d8d8d8, 909px 0 0 -8px #d8d8d8, 910px 0 0 -8px #d8d8d8, 911px 0 0 -8px #d8d8d8, 912px 0 0 -8px #d8d8d8, 913px 0 0 -8px #d8d8d8, 914px 0 0 -8px #d8d8d8, 915px 0 0 -8px #d8d8d8, 916px 0 0 -8px #d8d8d8, 917px 0 0 -8px #d8d8d8, 918px 0 0 -8px #d8d8d8, 919px 0 0 -8px #d8d8d8, 920px 0 0 -8px #d8d8d8, 921px 0 0 -8px #d8d8d8, 922px 0 0 -8px #d8d8d8, 923px 0 0 -8px #d8d8d8, 924px 0 0 -8px #d8d8d8, 925px 0 0 -8px #d8d8d8, 926px 0 0 -8px #d8d8d8, 927px 0 0 -8px #d8d8d8, 928px 0 0 -8px #d8d8d8, 929px 0 0 -8px #d8d8d8, 930px 0 0 -8px #d8d8d8, 931px 0 0 -8px #d8d8d8, 932px 0 0 -8px #d8d8d8, 933px 0 0 -8px #d8d8d8, 934px 0 0 -8px #d8d8d8, 935px 0 0 -8px #d8d8d8, 936px 0 0 -8px #d8d8d8, 937px 0 0 -8px #d8d8d8, 938px 0 0 -8px #d8d8d8, 939px 0 0 -8px #d8d8d8, 940px 0 0 -8px #d8d8d8, 941px 0 0 -8px #d8d8d8, 942px 0 0 -8px #d8d8d8, 943px 0 0 -8px #d8d8d8, 944px 0 0 -8px #d8d8d8, 945px 0 0 -8px #d8d8d8, 946px 0 0 -8px #d8d8d8, 947px 0 0 -8px #d8d8d8, 948px 0 0 -8px #d8d8d8, 949px 0 0 -8px #d8d8d8, 950px 0 0 -8px #d8d8d8, 951px 0 0 -8px #d8d8d8, 952px 0 0 -8px #d8d8d8, 953px 0 0 -8px #d8d8d8, 954px 0 0 -8px #d8d8d8, 955px 0 0 -8px #d8d8d8, 956px 0 0 -8px #d8d8d8, 957px 0 0 -8px #d8d8d8, 958px 0 0 -8px #d8d8d8, 959px 0 0 -8px #d8d8d8, 960px 0 0 -8px #d8d8d8, 961px 0 0 -8px #d8d8d8, 962px 0 0 -8px #d8d8d8, 963px 0 0 -8px #d8d8d8, 964px 0 0 -8px #d8d8d8, 965px 0 0 -8px #d8d8d8, 966px 0 0 -8px #d8d8d8, 967px 0 0 -8px #d8d8d8, 968px 0 0 -8px #d8d8d8, 969px 0 0 -8px #d8d8d8, 970px 0 0 -8px #d8d8d8, 971px 0 0 -8px #d8d8d8, 972px 0 0 -8px #d8d8d8, 973px 0 0 -8px #d8d8d8, 974px 0 0 -8px #d8d8d8, 975px 0 0 -8px #d8d8d8, 976px 0 0 -8px #d8d8d8, 977px 0 0 -8px #d8d8d8, 978px 0 0 -8px #d8d8d8, 979px 0 0 -8px #d8d8d8, 980px 0 0 -8px #d8d8d8, 981px 0 0 -8px #d8d8d8, 982px 0 0 -8px #d8d8d8, 983px 0 0 -8px #d8d8d8, 984px 0 0 -8px #d8d8d8, 985px 0 0 -8px #d8d8d8, 986px 0 0 -8px #d8d8d8, 987px 0 0 -8px #d8d8d8, 988px 0 0 -8px #d8d8d8, 989px 0 0 -8px #d8d8d8, 990px 0 0 -8px #d8d8d8, 991px 0 0 -8px #d8d8d8, 992px 0 0 -8px #d8d8d8, 993px 0 0 -8px #d8d8d8, 994px 0 0 -8px #d8d8d8, 995px 0 0 -8px #d8d8d8, 996px 0 0 -8px #d8d8d8, 997px 0 0 -8px #d8d8d8, 998px 0 0 -8px #d8d8d8, 999px 0 0 -8px #d8d8d8, 1000px 0 0 -8px #d8d8d8;
  transition: background-color 150ms;
}

.form--range::-moz-range-track,
.form--range::-moz-range-progress {
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, #d8d8d8, #d8d8d8) 100% 50%/100% 8px no-repeat transparent;
  border-radius: 25px;
}

.form--range::-moz-range-progress {
  background: linear-gradient(to bottom, #1091cc, #1091cc) 100% 50%/100% 8px no-repeat transparent;
  border-radius: 25px;
}

.form--range::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  height: 24px;
  width: 24px;
  background: #50ABD4;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
}

.form--range::-ms-track {
  width: 100%;
  height: 30px;
  border: 0;
  color: transparent;
  background: transparent;
}

.form--range::-ms-fill-lower {
  background: linear-gradient(to bottom, #1091cc, #1091cc) 100% 50%/100% 8px no-repeat transparent;
}

.form--range::-ms-fill-upper {
  background: linear-gradient(to bottom, #d8d8d8, #d8d8d8) 100% 50%/100% 8px no-repeat transparent;
}

.form--range::-ms-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  background: #50ABD4;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
  top: 0;
  margin: 0;
  box-shadow: none;
}

.form--range:hover::-webkit-slider-thumb,
.form--range:focus::-webkit-slider-thumb {
  background-color: #B8C4CC;
}
.form--range:hover::-moz-range-thumb,
.form--range:focus::-moz-range-thumb {
  background-color: #B8C4CC;
}
.form--range:hover::-ms-thumb,
.form--range:focus::-ms-thumb {
  background-color: #B8C4CC;
}

/* Animation */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/*
 * 
 * mobile first, meaning all the following css is meant to be rendered
 * by mobile devices and all the media queries will target tablet or
 * larger devices
 * 
*/

html {
	font-family: 'Lato', sans-serif;
}

.mortage-title {
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	color: #006ea0;
	margin: 10px 0;
}

.mortage-title--wrapper {
	padding-left: 15px;
}

.mortage-separator {
	border: none;
	height: 2px;
	background-color: #d8d8d8;
	margin: 20px 0;
}

/* Calculator */
.calculator-wrapper {
	margin: 0 15px 50px;	
}

.calculator--form {
	box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
	padding: 20px 15px;
	position: relative;
	z-index: 10;
	background-color: #fff;
}

.calculator--title {
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 0.2px;
	color: #3e3d3f;
	margin-top: 0;
	font-weight: 400;
	margin: 0;
}

.calculator-results--items-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	margin-bottom: 2px;
	border-bottom: 1px solid #b2b2b2;
}

.calculator-results--items-wrapper--amount{
	color: #3e3d3f;
	font-size: 14px;
	font-weight: 700;
}

.calculator-results--items-wrapper--amount.total {
	font-size: 18px;
}

.calculator-results--label {
	width: 104px;
	height: 16px;
	color: #3e3d3f;
	font-size: 12px;
	font-weight: 400;
}

.calculator-results--total {
	border-bottom: none;
}

/*
 * form style
*/

.form--btn {
	padding: 12px 0;
	background-color: #0077c0;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.3px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
}

.form--btn:active {
	background-color: #00578D;
}

.form--input {
	display: block;
	width: calc(100% - 20px);
	padding: .375rem 0 .375rem 20px;
	color: #0d0d0d;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form--input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #3e3d3f;
  outline: 0;
  box-shadow: 0 0 4px rgba(62, 61, 63, 0.62);
  border-radius: 4px;
}

.form--range {
	display: block;
	width: 80%;
}

.form--label {
	font-weight: 700;
	font-size: 12px;
}

.form--label-with-dollar-sign {
	position: relative;
}

.form--label-with-dollar-sign::after {
	content: '$';
	position: absolute;
	top: 23px;
	left: 9px;
	font-size: 14px;
	font-weight: 400;
	z-index: 10;
}

.form--p-right {
	padding-right: 10px;
}

.form--p-left {
	padding-left: 10px;
}

.form--wrapper {
	margin-bottom: 20px;
}

.form--input--error {
	border-color: #da3535;
}

.form--input--error:focus {
	border-color: #da3535;
	box-shadow: 0 0 4px rgba(218, 53, 53, 0.62);
}

.form--input--error--message {
	margin: 2px 0;
	font-size: 10px;
	color: #da3535;
	font-weight: 700;
}

/*
 * results
*/
.results {
	padding: 20px 15px;
	background-color: #eaf6fa;
	display: none;
	transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.results--show {
	display: block;
}

.results--title {
	color: #3e3d3f;
	font-size: 20px;
	line-height: 30px;
}

/* utils */
.m-top-none {
	margin-top: 0;
}

.p-left-4px {
	padding-left: 4px;
}

.p-right-10px {
	padding-right: 10px;
}

.m-top-1px {
	margin-top: 1px;
}

.w-1rem {
	width: 1rem;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.w-26px {
	width: 26px;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

@media screen and (min-width: 768px) {
	.calculator-wrapper {
		margin: 0 auto;
		width: 688px;
		display: flex;
	}
	.calculator--form {
		padding: 35px 40px;
		width: 470px;
	}
	.calculator--title {
		font-size: 16px;
	}
	.mortage-separator {
		margin-bottom: 35px;
	}
	.form--label {
		font-size: 14px;
	}
	.form--input {
		margin-top: 5px;
		height: 45px;
		padding-left: 40px;
		width: calc(100% - 42px);
	}
	.form--input__range-number {
		text-align: center;
		padding: 0;
		width: 60px;
	}
	.form--label-with-dollar-sign::after {
		font-size: 16px;
		top: 43px;
		left: 25px;
	}
	.form--input--error--message {
		font-size: 12px;
	}
	.results {
		margin: 55px 0 55px -55px;
		padding: 35px 0 0 90px;
		width: 298px;
	}
	.results--title {
		font-size: 22px;
	}
	.calculator-results--items-wrapper {
		flex-direction: column;
		border-bottom: none;
	}
	.calculator-results--total {
		border-top: 1px solid #cbcbcb;
	}
	.calculator-results--label {
		font-size: 14px;
		width: 100%;
	}
	.calculator-results--items-wrapper--amount {
		font-size: 18px;
		line-height: 1.67;
	}
	.calculator-results--items-wrapper--amount.total {
		font-size: 22px;
	}
	.calculator-results--total__label {
		font-size: 18px;
	}
	.results {
		display: block;
	}
	.animated {
		-webkit-animation-duration: 0s;
		animation-duration: 0s;
		-webkit-animation-fill-mode: unset;
		animation-fill-mode: unset;
	}
	.slideInDown {
		-webkit-animation-name: unset;
		animation-name: unset;
	}
}